.post {
  display: block;
  border: 1px solid rgb(223, 222, 222);
  border-radius: 4px;
  padding: 20px;
  margin: 3px;
  height: 170px;
  width: 300px;
}

.post h1 {
  padding: 3px 0px;
  margin-bottom: 0px;
}


.post img {
  height: 70px;
  width: 120px;
}
